ul.hierarchy {
  overflow: auto;
  padding-left: 10px;
  li {
    line-height: 20px;
    label.left-nav-label {
      display: block;
      padding: 0.5rem;
    }
    label.left-nav-label:hover{
      background-color: aliceblue;
    }
    .arrow-icon {
      padding-top: 5px;
    }
  }
  .pointer {
    cursor: pointer;
  }
}