@import './../../style/variables';

.create-form__container {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 40%;
  z-index: $z-index;
  width: 15%;
  border: $generic-border;
  padding: 2.5rem;
  border-radius: $generic-radius;
  .modal-header {
    margin-bottom: 1rem;
    h3.title {
      display: inline-block; 
    }
    span {
      float: right;
    }
  }
  .form-control {
    display: block;
    border: $generic-border;
    border-radius: $generic-radius;
    margin-bottom: 1rem;
    padding: 0.8rem;
    width: 88%;
  }
  .type-container {
    display: flex;
    border: $generic-border;
    border-radius: $generic-radius;
    margin-bottom: 1rem;
    span {
      padding: 0.5rem;
      flex: 1;
    }
    span.selected {
      background: $blue1;
      color: $white;
    }
    span:nth-child(odd) {
      border-right: $generic-border;
    }
  }
  button {
    padding: 0.8rem;
    font-size: 14px;
    width: 100%;
    background: $blue1;
    border-radius: $generic-radius;
    color: $white;
  }
}