// Color codes
$light-text-color: #4a4a4a;
$black-color: #000000;
$blue1: #4AB7FF;
$grey: #a8a4a0;
$grey1: #cccccc;
$lightgray: #d3d3d3;
$white: #ffffff;

// Z index values
$z-index: 10;

// border values
$generic-border: 1px solid #DDE0E4;

// border-radius values
$generic-radius: 8px;